<h1>Search Results</h1>

<div class='container'>

  <h1>Product search results</h1>

  <% if(@query == "") %>
    <h3>The search field was blank.</h3>
  <% else %>
    <h2> Search for <%= @query %> returned <%= pluralize(@results_found.size, 'result') %>.</h2>

    <% @results_found.each do |result| %>
      <div class="results">
        <p><%= link_to result.product_name, result %></p>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to 'Back', products_path %>