<br>
  <%= will_paginate @products, list_classes: %w(pagination justify-content-end), renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0 %>
<br>

<h1>Product Listing</h1>

<%= render @products %>

<%= link_to 'Show', @product %>
<%# <%= link_to 'New Product', new_product_path %>
